:root
{
  --post-width: 800px;

  --monospace: Menlo,Monaco,Consolas,Courier New,Courier,monospace;
  --accent-underline: rgb(255 , 171, 63);

  --link-hover-color: #4a7ae3;
  --link-underline-shadow: 0 1px 0 var(--link-color);
  --link-hover-underline-color: var(--link-hover-color);
  --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
}

.dark {

  --link-background-color: #4251746d;
  --link-color: var(--primary);
  --link-hover-color: #4a7ae3;
  --link-underline-shadow: 0 1px 0 var(--link-color);
  --link-hover-underline-color: var(--link-hover-color);
  --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
}

#menu a:hover {
  color: var(--link-hover-color);
}

.meta-item a:hover {
  color: var(--link-hover-color);
  box-shadow: 0 1px 0 var(--link-hover-color);
}


body {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
}

table 
{
  background-color: var(--code-bg);
}

summary span.dotted {
  border-bottom: 1px dotted #ccc;
}

summary 
{
  text-decoration: underline dotted;
  text-decoration-color: var(--link-color); /* Change the color here */
  text-decoration-thickness: 1px;
}

summary:hover
{
  text-decoration: underline dotted;
  text-decoration-color: var(--link-hover-color); /* Change the color here */
  text-decoration-thickness: 2px;
}

code {
  line-height: 1.2em;
}

abbr {
  /* todo: https://bitsofco.de/making-abbr-work-for-touchscreen-keyboard-mouse/ */
  text-decoration-color: var(--accent-underline); /* Change the color here */
  text-decoration-thickness: 2px;
}

.dark .chroma .hl
{
  background-color: #353b4b;
}
